@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f9fafb;
  --text: #111827;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
}

* {
  box-sizing: border-box;
}

